<footer class="footer">
  <small>
    The Mini-Twitter app created
    by <a href="https://www.mathiasthibaud.com/">Mathias Thibaud</a>
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li>
        <%= link_to "Contact", contact_path %>
      </li>
      <li><a href="https://github.com/ma-thibaud">GitHub</a></li>
    </ul>
  </nav>
</footer>
